  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  #sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 60%;
    margin-bottom: 100px;
    background-color: rgb(193,99,166);
    box-shadow: 0.5px 0.5px black;
    color: pink;
    border-radius: 10px;
  }

  #sign h1{
    font-size: 40px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: -10px;
    text-shadow: 1px 1px 5px black;
  }

  #sign p{
    font-size: 30px;
    font-weight: 600;
    color: purple;
  }
