body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  #clock{
    display: flex;
    width: 40%;
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(193,99,166);
    box-shadow: 0.5px 0.5px black;
    color: pink;
    border-radius: 10px;
  }

    #clock-items{
        display: flex;
        gap: 15px;
    }

    #clock-item{
    display: flex;
    height: 100px;
    width: 80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: purple;
    box-shadow: 0.5px 0.5px black;
    border-radius: 10px;
    }
    
    #clock-name h1{
        font-size: 40px;
        font-weight: 700;
        margin-top: -10px;
        margin-bottom: 10px; 
        text-shadow: 1px 1px 5px black;
    }

    #clock-item h1{
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: -20px;
    }
